<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consulta</ion-title>
    </ion-toolbar>
  </ion-header>
  <label>Consulta</label>
  <form (ngSubmit)="getUsuariosByCedula()">
    <input
      type="text"
      placeholder="1709876543"
      name="cedula"
      [(ngModel)]="cedula"
    />
    <input type="submit" />
  </form>
  <div></div>
</ion-content>
