#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Input Style */
$input-height: 75px;
form {
  position: relative;
}
form input {
  background: lighten(rgb(243, 243, 251), 5%);
  color: rgb(143, 143, 214);
  width: 200px;
  height: 50px;
  border: 0;
  padding: 20px 40px;
  margin: 10;
  margin-left: 20px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgb(143, 143, 214);
    font-weight: 100;
  }
}

label {
  font-size: 16px;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 10px;
}
/* input {
  font-size: 16px;
  line-height: 22px;
  margin-left: 30px;
  margin-top: 20px;
  margin-block-end: 10px;
} */
h1 {
  font-size: 20px;
  line-height: 26px;
  margin-left: 30px;
  margin-top: 10px;
}
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
$colors: (
  pulse: #55608f,
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}
button {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: rgb(209, 182, 182);
  }
}
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
table {
  margin-left: 6px;
  width: 400px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(210, 194, 194);
}

th {
  text-align: left;
}

thead {
  th {
    background-color: #55608f;
  }
}

tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    &:hover {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}
